:root {
    --temple-blue-dark: rgb(30, 58, 138);
    --bs-primary: #1e3a8a;
    --bs-primary-rgb: 30, 58, 138;
    --bs-primary-dark: #1d4ed8;
    --bs-primary-dark-rgb: 29, 78, 216;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1e3a8a;
    --bs-btn-border-color: #1e3a8a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1d4ed8;
    --bs-btn-hover-border-color: #1d4ed8;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1d4ed8;
    --bs-btn-active-border-color: #1d4ed8;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1d4ed8;
    --bs-btn-disabled-border-color: #1d4ed8;
}

.navbar {
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-padding-x: 0.1rem;
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
    background-color: var(--bs-primary) !important;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}

.progress-bar {
    background-color: var(--bs-primary);
}

.card {
    border: 1px solid var(--bs-primary);
}

.card-title {
    color: var(--bs-primary);
}
